<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicontake.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <section class="p-3 p-md-4 p-xl-5">
            {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                {%- for category, message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {%- endfor %}
            {%- endif %}
            {%- endwith %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                        <div class="card border border-light-subtle rounded-4 shadow-lg">
                            <div class="card-body p-3 p-md-4 p-xl-5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-5">
                                            <h4 class="text-center">Registrar</h4>
                                        </div>
                                    </div>
                                </div>
                                <form action="{{url_for('criar_adm')}}" method="POST">
                                    <div class="row gy-3 overflow-hidden">
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuário">
                                                <label for="usuario" class="form-label">Usuário</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF">
                                                <label for="cpf" class="form-label">CPF</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                          <div class="form-floating mb-3">
                                              <input type="number" class="form-control" name="idade" id="cpf" placeholder="Idade">
                                              <label for="cpf" class="form-label">Idade</label>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha">
                                                <label for="senha" class="form-label">Senha</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button class="btn bsb-btn-xl btn-primary" type="submit">Registrar</button>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                                            <a href="{{url_for('login')}}" class="link-secondary text-decoration-none">Fazer Login</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>
